/* PAGINA PRIVATA */
.private_page {
    background-image: url("../images/sfondo_pag_priv.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 20px; 
}

/* TOP BAR */
.top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

/* TITOLO */
.top_bar h1 {
    font-size: 32px; 
    color: #000;
}

/* LOGOUT */
.logout_btn {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border: 1px solid #000;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: #fff;
    transition: 0.3s;
    font-size: 18px; 
}

.logout_btn:hover {
    background-color: #c3def1;
    transform: scale(1.05);
}

/* CONTENITORE CENTRALE */
.container {
    display: flex;
    justify-content: center;
    padding-top: 30px; 
}

/* CARD */
.main_card {
    text-align: center;
}

/* FORM A 2 COLONNE */
.main_card form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px;
    max-width: 700px;
}

/* BLOCCO CAMPO (label + input) */
.field {
    display: flex;
    flex-direction: column;
}

/* LABEL */
.field label {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

/* INPUT E SELECT */
.field input,
.field select {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* BOTTONE CENTRATO */
.main_card button {
    grid-column: span 2;
    justify-self: center;
    margin-top: 20px;
    width: 220px;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #000;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.main_card button:hover {
    background-color: #c3def1;
    transform: scale(1.05);
}

.msg {
    grid-column: 1 / -1;   /* occupa tutta la riga della grid */
    justify-self: center;
    margin-top: 20px;
    padding: 14px 18px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

/* SUCCESSO */
.msg.success {
    color: #0a7a2f;
    background-color: #d4f8dd;
    border: 1px solid #0a7a2f;
}

/* ERRORE */
.msg.error {
    color: #b00020;
    background-color: #ffd6d6;
    border: 1px solid #b00020;
}

